//AZUL BAHIA = #337ab7
//VERMELHO BAHIA = #e91313

.main-header{
    border-top:solid 2px #e91313;
}

#containerLoadingBar{
    width:100%;
    background-color: grey;
}

#progressLoadingBar{    
    height: 4px;
    background-color: #e91313;
    width: 1%;
}

.ms-container{
    width:100% !important;
}