@import './constans.scss';
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');

body{
    background-color: #D2D2D2 !important;  
} 

#contentLoading{
    position:fixed;
    width:100%;
    top:0;
    bottom:0;
    background-color: rgba(255,255,255,0.3);
    z-index:9999;
}

.loadingTable{
    background-color: rgba(255,255,255,0.3);
    z-index:-1;
    visibility: hidden;
}

.loading-transbox{
    color: black;
    z-index:9999;
}

.body-loading {
    line-height: 50vh;
    text-align: center;
    font-size: 4em;
    color: $vermelhoBahia;
}

.body-container{
    position: fixed;
    width:100%;
    background-color: rgba(1,1,1,0.5)
}

.main-header{
    border-top:solid 2px $vermelhoBahia;
}

#containerLoadingBar{
    width:100%;
    background-color: grey;
}

#progressLoadingBar{    
    height: 4px;
    background-color: $vermelhoBahia;
    width: 1%;
}

.ms-container{
    width:100% !important;
}

.content-wrapper{
    background-color:#e5e6e6;
}

.box{
    border-radius: 20px 0 20px 0;
    box-shadow: 0 1px 3px 0 rgb(0 0 0 / 33%) !important;
}

.modal-content{ 
    border-radius: 20px 0 20px 0;
}

.bg-bahia{
    background-color: #c4c4c4 !important;
}

.bg-bahia .widget-user-username{
    color:#333;
    font-family: 'Roboto', sans-serif;
}

.bg-bahia .widget-user-desc{
    color:#333;
    font-weight: 500;
}

.profilePicture{
    cursor:pointer;
}

.box-bt-blue{
    border-top: none !important;
    border-left: 3px solid $azulBahia;
}

.box-bt-red{
    border-top: none !important;
    border-left: 3px solid $vermelhoBahia;
}

tr.row-selected{
    background-color:#e5e6e6;
    border-color: 1px solid $vermelhoBahia;
}

