//AZUL BAHIA = #337ab7
//VERMELHO BAHIA = #e91313
a{
    color:#337ab7;
}

#seePass{
    cursor:pointer;
    pointer-events: auto;   
    color:#337ab7
}

.btn-primary{
    background-color:#337ab7 ;
}

.login-box-body{
    width:100%;
}

.login-box{
    margin:7% auto;
}