//AZUL BAHIA = #337ab7
//VERMELHO BAHIA = #e91313
a{
    color:#337ab7;
}

#seePass{
    cursor:pointer;
    pointer-events: auto;   
    color:#337ab7
}

.btn-primary{
    background-color:#337ab7 ;
}

.login-box-body{
    width:100%;
    border-top: 2px solid #e91313;
    border-bottom: 2px solid #e91313;
    border-radius: 20px;
}

.login-box{
    margin:7% auto;
}

