@import './constants.scss';

a{
    color:$azulBahia;
}

#seePass{
    cursor:pointer;
    pointer-events: auto;   
    color:$azulBahia;
}

.btn-primary{
    background-color:$azulBahia;
}

.login-box-body{
    width:100%;
    border-top: 2px solid $vermelhoBahia;
    border-bottom: 2px solid $vermelhoBahia;
    border-radius: 2%;
}

.login-box{
    margin:7% auto;
}

@media(max-width: 768px){
   #loginLogoUnion{
      width: 100% !important;  
   }
}

