a {
  color: #337ab7;
}

#seePass {
  cursor: pointer;
  pointer-events: auto;
  color: #337ab7;
}

.btn-primary {
  background-color: #337ab7;
}

.login-box-body {
  width: 100%;
}

.login-box {
  margin: 7% auto;
}

.main-header {
  border-top: solid 2px #e91313;
}

@media (max-width: 800px) {
  .modal-dialog {
    width: 100% !important;
  }
}

