a {
  color: #337ab7;
}

#seePass {
  cursor: pointer;
  pointer-events: auto;
  color: #337ab7;
}

.btn-primary {
  background-color: #337ab7;
}

.login-box-body {
  width: 100%;
}

.login-box {
  margin: 7% auto;
}

.main-header {
  border-top: solid 2px #e91313;
}

#containerLoadingBar {
  width: 100%;
  background-color: grey;
}

#progressLoadingBar {
  height: 4px;
  background-color: #e91313;
  width: 1%;
}

.ms-container {
  width: 100% !important;
}

.content-wrapper {
  background-color: #e5e6e6;
}

.box {
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.33) !important;
}

.bg-bahia {
  background-color: #337ab7 !important;
}

.profilePicture {
  cursor: pointer;
}

@media (max-width: 800px) {
  .modal-dialog {
    width: 100% !important;
  }
}

.required {
  color: red;
}

.warning-required {
  float: right;
}

